body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

#cuadro_blanco {
    background-color: white;
    display: flex;
    flex-direction: column;
    column-rule: solid 60px #000;
    width: 350px;
}

#lola{
    margin-left: 35px;
}

.cantante {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 0px 10px;
    border-top: 1px solid gainsboro;
}

.foto {
    height: 80px;
    width: 80px;
    border-radius: 100px;
}

p {
    color: gainsboro;
    margin-top: 0px;
}

.texto {
    display: block;
    margin-left: 25px;
}

h2 {
    margin-bottom: 0px;
}